@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

.wrap {
  display: grid;
  grid-template-areas: 'sidebar ... content content';
  margin: auto;
  width: 75%;
}

.sidebar {
  padding-top: 10em;
  text-transform: uppercase;
}

.content {
  grid-area: content;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #3f51b5;
}
