.wrap {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  padding-top: 50px;
  height: 90vh;
}

.title {
  color: #3f51b5;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
}

.wrapList {
  width: 550px;
  margin: auto;
}